body{
    background-color: #00B0FF;
    width: 100vw;
    height: 100vh;
}


.order-table{
        
        align-items: center;     
        width: 40%;
	border-collapse:collapse;
}

.order-table-header{
    
	text-align: left;
        color: white;
	background:none;
	border-bottom:2px solid #BBBBBB;
	padding:16px;
}

.order-table-row{
	text-align:left;
        color: white;
	background:none;
	border-top:2px solid #BBBBBB;
}

.my-container {
        display: block;
    position: relative;
    margin: auto;
    top: 23%;
    left: 18%;
    width: 157vw;
}
